<!-- menu2.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu 2</title>
    <style>
        .diary-container {
            border: 1px solid #ddd;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center; /* 가운데 정렬을 위한 스타일 추가 */
        }

        .diary-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="content-container">
    <h2>지금까지 있었던 일들</h2>
    <div th:each="diary : ${userDiaries}" class="diary-container">
        <div th:each="line : ${#strings.arraySplit(diary.content, '\n')}" class="diary-item">
            <span th:text="${line}"></span>
        </div>
        <div th:each="line : ${#strings.arraySplit(diary.createdAt, '\n')}" class="diary-item">
            <span th:text="${line}"></span>
        </div>
    </div>
</div>
</body>
</html>
